// COLOR
$f-color: #333333;
$f-color-secondary: #565656;
$f-color-alt: #b5b5b5;
$active-color: #ffd942;
$focus-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);

// FONT
$f-family-base: "Work Sans", sans-serif;
$f-family-secondary: "Libre Baskerville", serif;
$f-weight-heading: 500;
$f-size: 14px;
$f-size-heading: 1.43em;

// MEDIA
// min
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;

// max
$xs-max: 575px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;

// HEADER
$header-height-xs: 60px;
$header-height-lg: 100px;
