/*--------------------
  BLOG-CARD
--------------------*/

.blog-card {
  box-shadow: 0 0 8px rgba(17, 20, 48, 0.1);

  @media screen and (min-width: $sm-min) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $md-min) {
    flex-shrink: 0;
    width: 49%;
  }

  @media screen and (min-width: $lg-min) {
    width: 46%;
  }

  @media screen and (min-width: $xl-min) {
    width: 32%;
  }

  &:nth-of-type(n+2) {
    @media screen and (max-width: $sm-max) {
      margin-top: 30px;
    }
  }

  &:nth-of-type(n+3) {
    @media (min-width: $md-min) and (max-width: $lg-max) {
      margin-top: 30px;
    }
  }

  &:nth-of-type(n+4) {
    @media screen and (min-width: $xl-min) {
      margin-top: 30px;
    }
  }

  &-img {
    position: relative;
    display: block;
    height: 186px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.08);
    outline: 0;

    @media screen and (min-width: $sm-min) {
      flex-shrink: 0;

      @include size(186px, auto);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      background-color: transparent;
      transition: background 0.15s;
      pointer-events: none;

      @include size(100%, 100%);
    }

    &:hover,
    &:focus {
      &::before {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }

    img {
      object-fit: cover;

      @include size(100%, 100%);
    }
  }

  &-info {
    padding: 30px 20px 20px;

    @media screen and (min-width: $sm-min) {
      flex-grow: 1;
      align-self: flex-start;
    }
  }

  &-category {
    display: inline-block;
    margin: 0 0 10px;
    font-weight: 400;
    font-size: 0.86em;
    color: #a2a2a2;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: 0.15s color, 0.25s box-shadow;

    &:hover {
      color: $active-color;
    }

    &:focus {
      box-shadow: $focus-shadow;
    }
  }

  &-title {
    margin: 0 0 10px;
    font-size: 1.14em;

    a {
      font-weight: 400;
      color: inherit;
      text-decoration: none;
      outline: none;
      transition: 0.15s color, 0.25s box-shadow;

      &:hover {
        color: $active-color;
      }

      &:focus {
        box-shadow: $focus-shadow;
      }
    }
  }

  &-more {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0;
    font-weight: 400;
    font-size: 0.86em;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: 0.15s color, 0.25s box-shadow;

    svg {
      position: absolute;
      top: 4px;
      right: 0;
      transition: 0.15s fill;

      @include size(11px, 9px);
    }

    &:hover {
      color: $active-color;

      svg {
        fill: $active-color;
      }
    }

    &:focus {
      box-shadow: $focus-shadow;
    }
  }
}
