/*--------------------
  CONTAINER
--------------------*/

.container {
  width: 100%;
  padding: 0 15px;

  @media screen and (min-width: $xl-min) {
    padding-right: 55px;
    padding-left: 55px;
  }
}
