/*--------------------
  DROPDOWN
--------------------*/

.dropdown {
  @media screen and (min-width: $lg-min) {
    position: relative;
  }

  &-toggle {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    line-height: inherit;
    color: $f-color-secondary;
    text-transform: uppercase;
    background: none;
    border: 0;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    transition: 0.15s color, 0.25s box-shadow;

    @media screen and (min-width: $lg-min) {
      padding: 0 20px 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 45%;
      right: 0;
      border: 4px solid transparent;
      border-top: 4px solid #ffd942;
    }

    &:hover {
      color: $active-color;
    }

    &:focus {
      box-shadow: $focus-shadow;
    }
  }

  &-menu {
    display: none;
    overflow: hidden;
    list-style: none;
    border-top: 1px solid $active-color;

    @media screen and (min-width: $lg-min) {
      position: absolute;
      top: 60px;
      left: 50%;
      padding: 15px 20px;
      background: #ffffff;
      transform: translate(-50%);
    }

    li {
      &:nth-of-type(n+2) {
        margin-top: 5px;

        @media screen and (min-width: $lg-min) {
          margin-top: 30px;
        }
      }
    }
  }

  &-active {
    .dropdown-menu {
      display: block;
    }
  }
}
