/*--------------------
  LOGO
--------------------*/

.logo {
  position: relative;
  display: inline-block;
  outline: none;
  transition: 0.25s box-shadow;

  @include size(84px, 32px);

  &:focus {
    box-shadow: $focus-shadow;
  }

  &-img {
    @include size(100%, 100%);
  }
}
