/*--------------------
  SEARCH
--------------------*/

.search {
  margin-top: 5px;
  color: $f-color-secondary;

  @media screen and (min-width: $lg-min) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    height: 470px;
    margin-top: 0;
    padding: 210px 0 0;
    background: #ffffff;
  }

  &-close {
    @media screen and (max-width: $md-max) {
      display: none;
    }

    @media screen and (min-width: $lg-min) {
      position: absolute;
      top: 45px;
      right: 55px;
      padding: 0;
      background: none;
      border: 0;
      border-radius: 0;
      transform-origin: 50% 50%;
      cursor: pointer;
      transition: 0.4s transform;

      @include size(16px, 16px);
    }

    &::after {
      @media screen and (min-width: $lg-min) {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s box-shadow;

        @include size(32px, 32px);
      }
    }

    &:hover {
      transform: rotate(180deg);
    }

    &:focus {
      @media screen and (min-width: $lg-min) {
        outline: 0;
      }

      &::after {
        @media screen and (min-width: $lg-min) {
          box-shadow: $focus-shadow;
        }
      }
    }
  }

  &-close-icon {
    @media screen and (min-width: $lg-min) {
      position: relative;
      display: block;

      @include size(inherit, inherit);
    }

    &::before,
    &::after {
      @media screen and (min-width: $lg-min) {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        border-top: 2px solid #484848;
        transform-origin: 50% 50%;
      }
    }

    &::before {
      @media screen and (min-width: $lg-min) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &::after {
      @media screen and (min-width: $lg-min) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &-form {
    position: relative;

    @media screen and (min-width: $lg-min) {
      max-width: 970px;
      margin: 0 auto;
    }
  }

  &-label {
    position: absolute;
    top: 0.2em;
    left: 0;
    background: url("../../img/svg/icons/search.svg") left top no-repeat;

    @include size(1em, 1em);

    @media screen and (min-width: $lg-min) {
      top: 1em;

      @include size(1.5em, 1.5em);
    }
  }

  &-input {
    display: block;
    width: 100%;
    padding: 0.1em 1.4em 0.5em;
    border: 0;
    border-bottom: 1px solid #f2f2f6;
    outline: 0;
    transition: 0.15s border-color;

    @media screen and (min-width: $lg-min) {
      padding: 0.1em 1.2em 0.5em;
      font-weight: 300;
      font-size: 2.57em;
    }

    &:hover,
    &:focus {
      border-bottom-color: $active-color;
    }

    &::-webkit-input-placeholder {
      color: #c2c2c2;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }

    &:-moz-placeholder {
      color: #c2c2c2;
    }

    &:focus:-moz-placeholder {
      color: transparent;
    }

    &::-moz-placeholder {
      color: #c2c2c2;
    }

    &:focus::-moz-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder {
      color: #c2c2c2;
    }

    &:focus:-ms-input-placeholder {
      color: transparent;
    }
  }

  &-active {
    @media screen and (min-width: $lg-min) {
      display: block;
    }
  }
}
