/*--------------------
  LAST-POSTS
--------------------*/

.last-posts {
  padding: 30px 0 40px;
  color: #0f0f0f;

  @media screen and (min-width: $lg-min) {
    padding: 60px 0 70px;
  }

  .container {
    @media screen and (min-width: $md-min) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &-title {
    flex-shrink: 0;
    width: 100%;
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 1.7em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $lg-min) {
      margin-bottom: 40px;
    }
  }
}
