/*--------------------
  SLIDER
--------------------*/

.slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 370px;
  margin: $header-height-xs 0 0;
  padding: 30px 0;
  overflow: hidden;
  font-weight: $f-weight-heading;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  @media screen and (min-width: $lg-min) {
    margin-top: $header-height-lg;
  }

  &-inner {
    position: absolute;
    top: 0;
    left: 0;

    @include size(100%, 100%);

    .slick-track,
    .slick-list {
      height: 100%;
    }

    .slick-slide {
      outline: 0;
    }
  }

  &-img {
    max-width: 100%;
    margin: 0 auto;
    object-fit: cover;

    @include size(100%, 100%);
  }

  &-date,
  &-title {
    position: relative;
    z-index: 1;
    width: 100%;
    line-height: 1;
  }

  &-date {
    margin: auto 0 5px;
    font-size: 1.14em;
  }

  &-title {
    margin: 0 0 auto;
    font-size: 3em;

    @media screen and (min-width: $md-min) {
      font-size: 5.14em;
    }
  }
}
