// PROJECT INFORMATION
// 	- Document: "Kuril Islands" Theme
// 	- Version:  1.0
// 	- Author:   R. Shapoval

// HELPERS
// Variables and mixins
@import "helpers/_variables";
@import "helpers/_mixins";

// BASE
// Base styles
@import "base/_normalize";
@import "base/_fonts";
@import "base/_common";

// COMPONENTS
// Specific modules like a slider, a loader, a widget
@import "components/_container";
@import "components/_visually-hidden";
@import "components/_button";
@import "components/_logo";
@import "components/_dropdown";
@import "components/_search";
@import "components/_blog-card";

// LAYOUT
// Main sections of the layout (header, footer, and so on)
@import "layout/_header";
@import "layout/_main-menu";
@import "layout/_footer";
@import "layout/_last-posts";
